* {
    margin: 0 0;
    padding: 0 0;
}
body{
  background-color: #2678d0;
}

.ruta {
  background: url('../img/ruta2.png') left center;
  overflow: hidden;
  position: absolute;
  width: 700px;
  height: 600px;
  left: 30%;
  top:15%;
  background-size: auto, auto,auto;
  transform: rotate(90deg);
  animation: play 4s linear infinite;
}
.auto {
  position: absolute;
  width: 30px;
  height: 60px;
  left:90.5%;
  top: 38.5%;
  transform: rotate(-90deg);
  margin:inherit;
  /* transform: rotate(-90deg); */

}
.auto2{
  position: absolute;
  width: 30px;
  height: 60px;
  left:-10%;
  background: url(../img/Car_3_01_opt.png);
  transform: rotate(-90deg);
  animation: example2 6s linear;
  animation-fill-mode: forwards;
}
.auto3{
  position: absolute;
  width: 30px;
  height: 60px;
  left: -10%;
  background: url(../img/Car_2_01_opt.png);
  transform: rotate(90deg);
  animation: example 4s linear;
  animation-fill-mode: forwards;
}

@keyframes play {
    100% { background-position: 1603px;}
}

@keyframes play3 {
    100% { left:0px; top:1200px;}
}
@-webkit-keyframes example {
    to {
       transform: translate(1200px,0px ) rotate(90deg);
   }
}
@-webkit-keyframes example2 {
    to {
       transform: translate(1200px,0px ) rotate(-90deg);
   }
}
