* {
    margin: 0 0;
    padding: 0 0;
}
body{
  background-color: #2678d0;
}

.ruta {
  background: url('../img/ruta3.png') center;
  overflow: hidden;
  position: absolute;
  width: 600px;
  height: 600px;
  left: 30%;
  top:30%;
  /* background-size: auto, auto,auto; */
  /* transform: rotate(90deg); */
  /* animation: play 4s linear infinite; */
}
.heart{
  width:62px;
  height: 55px;
  background: url('../img/spiteHeart.png') left center;
  animation: heart2 1s steps(8) infinite;
}
.auto{
  position: absolute;
  width: 30px;
  height: 60px;
  left:54.5%;
  top: 85.5%;
  margin:inherit;
}
.auto2{
  position: absolute;
  width: 30px;
  height: 60px;
  top:-10%;
  background: url(../img/Car_3_01_opt.png);
  animation: example2 6s linear;
  animation-fill-mode: forwards;
}
.auto3{
  position: absolute;
  width: 30px;
  height: 60px;
  top: -10%;
  background: url(../img/Car_2_01_opt.png);
  animation: example 4s linear;
  animation-fill-mode: forwards;
}
@keyframes explosion {
    100% { background-position: -1625px;}
}
@keyframes play {
    100% { background-position-y: 1600px;}
}

@keyframes play3 {
    100% { left:0px; top:1200px;}
}
@-webkit-keyframes example {
    to {
       transform: translate(0px,900px ) ;
   }
}
@-webkit-keyframes example2 {
    to {
       transform: translate(0px,900px );
   }
}
@-webkit-keyframes carRespawn {
    0%{opacity:1.0}
    25%{opacity:0.0}
    50%{opacity:1.0}
    75%{opacity:0.0}
    100%{opacity:1.0}
}
@-webkit-keyframes heart2{
  100%{background-position: -498px }
}
