* {
    margin: 0 0;
    padding: 0 0;
}
body{
  background-color: #2678d0;
}

.ruta {
  background: url('../img/ruta2.png') left center;
  overflow: hidden;
  position: absolute;
  width: 700px;
  height: 600px;
  left: 20%;
  top:30%;
  background-size: auto, auto,auto;
  transform: rotate(90deg);
  animation: play 4s steps(25) infinite;
}
.auto {
  position: absolute;
  width: 30px;
  height: 60px;
  left:43.5%;
  top: 90%;
  margin:inherit;
  /* transform: rotate(-90deg); */

}
.auto2{
  position: absolute;
  width: 30px;
  height: 60px;
  left:-10%;
  background: url(../img/Car_3_01_opt.png);
  transform: rotate(90deg);
  animation: example 8s;
}
.auto3{
  position: absolute;
  width: 30px;
  height: 60px;
  left: -10%;
  background: url(../img/Car_2_01_opt.png);
  transform: rotate(90deg);
  animation: example 8s;
}


@keyframes play {
    100% { background-position: -2000px;}
}

@keyframes play3 {
    100% { left:0px; top:1200px;}
}
@-webkit-keyframes example {
    /* 0%   { left:-10px; top:0px;}
    25%  {left:1000px; top:0px;}
    50%  {left:1000px; top:1000px;}
    75%  {left:0px; top:1000px;}
    100% {left:0px; top:0px;} */
    to {
       transform: translate(1200px,0px )rotate(90deg);
   }
}
